.messages_container {
  display: block;
  overflow: auto;
  height: 38rem;
  width: 30%;

  border: black solid 0.5px;
  text-align: center;
  flex-direction: column;
  align-self: baseline;
  background-color: white;
  margin: 2rem;
}

.messages {
  /* flex-basis: 28%;
    margin: 1em;
    padding: 1em; */
  background-color: white;
}
.message {
  margin-top: 0.5rem;
}
