.messages_container {
  display: block;
  overflow: auto;
  height: 38rem;
  width: 30%;
  border: black solid 0.5px;
  text-align: center;
  flex-direction: column;
  align-self: baseline;
  background-color: white;
  margin: 1rem;
}

.messages {
  background-color: white;
}
.message {
  margin-top: 0.5rem;
}
.replyBtn {
  width: 5rem;
}
.deleteBtn {
  width: 4rem;
  align-self: center;
}
.messageButtons {
  display: flex;
  justify-content: center;
}
.messagePic {
  border-radius: 0.5rem;
}
