.flight_container {
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border: black solid 0.5px;
  margin: 1rem;
  display: block;
  overflow: auto;
  height: 38rem;
  width: 50%;
}

.flight {
  flex-basis: 28%;
  margin-top: 1em;
  background-color: white;
  justify-content: space-around;
}
.detailsBtn {
  width: 10rem;
  align-self: center;
}
