.yourFlight {
  text-align: center;
  margin-top: 1rem;
}
.yourFlights {
  border: black solid 0.5px;
  display: block;
  overflow: auto;
  height: 36rem;
  width: 100%;
}
.yourFlightHeader {
  text-align: center;
}
