.coPilot_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: black solid;
  justify-content: center;
  text-align: center;
  text-align: -webkit-center;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  align-self: baseline;
}

.coPilots {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  background-color: white;
}
.pilot {
  border: inset;
  margin-top: 1rem;
}
