.pilots_container {
  display: block;
  overflow: auto;
  height: 38rem;
  width: 30%;

  border: black solid 0.5px;
  text-align: center;
  flex-direction: column;
  align-self: baseline;
  background-color: white;
  margin: 1rem;
}

.coPilots {
  background-color: white;
}
.pilot {
  margin-top: 0.5rem;
}
.pilotHeader {
  flex-wrap: nowrap;
}
.pilotBtn {
  width: 7rem;
  align-self: center;
}
.profilePic {
  align-self: center;
  margin-top: 0.5rem;
}
