.mainContainer {
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
  justify-content: space-between;
  background-color: skyblue;
}

.dataContainer {
  padding: 2rem;
  flex: 4;
}
.listContainer {
  padding-top: 3rem;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: row;
}

.header {
  font-style: italic;
  font-size: xx-large;
  background-color: skyblue;
}
